@media  screen and (min-width: 768px){

    #hamburger {
        border-top: 3px solid;
        border-bottom: 1px solid;
        width: 100%;
        border-color: #1162AD;
      }

     #hamburger::after,
     #hamburger::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    color: #1162AD;
  }
  #menu a {
   
    
    display: block;
    text-decoration: none;
    font-family: "Abel";
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 1rem 0;
    margin: 4rem 1rem;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    color: #FFE071;
    font-weight: 400;
    transition: all .4s;
  }
  #menu a:hover{
    background-color: #FFE071;
    color: #1162AD;
  }

  


  .perfil_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5rem 35% 0rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1162AD;
    border-radius: 25px;
    width: 30%;
    
  }

  .perfil_container img{

    width: 50%;

  }

#mural{

    width: 50%;
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;

}

#mural_botao{
    width: 2.8%;
    transition: all .4s;
}

#mural_botao:hover {
   width: 3.8%;
    

}


  
}